* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
a:visited
{
    color:white;
    text-decoration: none;
}
a:link
{
    color:white;
    text-decoration: none;
}

.header {
    position:fixed;
    background-color: black;
    color:white;
    top:0px;
    width:100%;
    height:17%;
    text-align: center;
    font-size: 1.1em;
    margin:auto;
}

.logo {
    width:20%;
}
.footer {
    bottom:0px;
    background-color: black;
    border-top: 4px solid #333333;
    position: fixed;
    height:7%;
    width: 100%;
}

.active {
    width: 10%;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
}

.inactive {
    width: 10%;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    -webkit-filter: invert(50%);
}

.tablediv {
    display: inline;
    padding-left: 21%;
    padding-right: 17.5%;
}
.graphdiv {
    display: inline;
    padding-left: 17.5%;
    padding-right: 21%;
}

.menubar {
    height: 114%;
    width: 1%;
    z-index: 100;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-filter: invert(25%);
}


#webdata {
    width:100%;
}

#tabledata {
    text-align:center;
    font-size:0.8em;
}
#valcount{
    margin:auto;
    color:black;
    background-color:#cccccc;
    border-radius:1em;
    height:10%;
    width:90%;
    text-align:center;
    font-size:0.8em;
    border: 1px solid #cccccc;
}

#totalval {
    width:4em;
    background-color: #30a0ff;
    color:white;
    height:1.2em;
    text-align:center;
}
